.hobbies {
  // background: red;
  &__category {
    width: 90vw;
    
    &-title {
      margin: 1.5rem 1rem;
    }
  }

  &__projects {
    display: flex;
    gap: 2rem;
  }
}

.projectCard {
  padding: 1rem 2rem;
  width: 35%;
  max-width: 35%;
  color: white;
  border-radius: 0.5rem;

}
