.projects {
  // border: 1px solid rebeccapurple;
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.projectCard {
  background: #ffecc6;
  padding: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 4px solid #efd696;
  border-radius: 2rem;

  &__name {
    font-weight: 400;
    font-size: 1.2rem;
    font-family: monospace;
    margin-left: 1rem;
    max-width: 20%;
    width: 25%;
    line-height: 2rem;
  }
}

.milestones {
  border: 2px solid #efd696;
  border-radius: 0.75rem;
  background: #fbf2e2;
  padding: 1rem  1.5rem;
  width: 65%;
  display: flex;
  //   align-items: center;
  justify-content: space-between;
  position: relative;

  &__checkbox {
    appearance: none;
    height: 1.35rem;
    width: 1.75rem;
    border: 3px solid #bca5bf;
    border-radius: 2rem;
    background-color: transparent;
    // margin-right: 10px;
    cursor: pointer;
    position: relative;

    &:before {
      content: "";
      background: #bca5bf;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      height: 0.7rem;
      width: 1rem;
      border-radius: 1.8rem;
      transition: all 0.15s ease-in-out;
    }

    &:checked:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font-size: 0.95rem;
    font-family: monospace;
  }
}
